body {
	font-size: 40px;
}
h1 {
	text-align: center;
	color:black;
}
#question, #choices, #answer, #countdown, #rightAnswer, #questionNum, #questionNum, #questionNumber {
	text-align: center;
}
.abutton {
	width: 30%;
}
